.ck
models/
dist/
*.pt
.crush/
vendor/**/*
!vendor/whisper-cpp/
!vendor/whisper-cpp/whisper-cli
!vendor/whisper-cpp/whisper-cli-metal
release/
build/
.whispermac-data
build
scripts/photon.zip
node_modules/
release-zip/
scripts/_vue.js
src/photon
bin
src/renderer-app/public/photon/
src/renderer-app/public/*.js
